
/* be sure to use the correct parent/child relationship when it comes 
to ordering code. Also must pay attention for the hierarcby of the 
classes/id/etc.. If something is a class and an id, both of which specify 
different colors which then takes presidence? Here are the rules: 

Order on page:
First: body, header, a, h1, h2, h3, h4
Second: class (.)
Third: id (#)

Hierarchy:
id (#) will always be given priority vs. class (.) because it is specific 
to the element.


Does not have to use these even if HTML has the hooks. Also sometimes uncessary 
to specify anything for body if everything in the body is already part of 
class or id being used in CSS to cusotmize. 

*/

body {
	background: #F1F2F2;
}

header {
 	background: #FEFEFE;
}






#nameLogo {
	float: left;
	color:white;
	background:blue;
	border:solid;
}